.main {
  min-height: 85vh;
  display: flex;
  background-image: url('../../../public/images/background.jpg');
  background-position: center;
  background-size: cover;
}
.content {
  display: flex;
  margin-top: 6rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.title {
  font-size: 4rem;
}
.button-container {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}
